setopt promptsubst

autoload -U promptinit
promptinit

autoload -U colors
colors

#PROMPT="%n@%m %~%# "
PROMPT="%(#.${red}.${green})%n@%m %~%{%(#~$fg[red]~$fg[green])%}%#%{$fg[default]%} "
RPROMPT="%l %*"
